<main>
    <form class="login-form" id="signupForm" novalidate>
        <div class="form-control">
            <label for="username">UserName</label>
            <input type="text" name="username" id="username" required />
        </div>
        <div class="form-control">
            <label for="email">E-Mail</label>
            <input class="" type="email" name="email" id="email" required />
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input class="" type="password" name="password" id="password" required />
        </div>
        <div class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <input class="" type="password" name="confirmPassword" id="confirmPassword" required />
        </div>
        <button class="btn" id="SendSignup" type="submit">Signup</button>
    </form>
</main>